<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="">MeanPasport</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
   data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" >
        <a class="nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" *ngIf="!auth.isLoggedIn()" routerLink="/signin">Signin</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <a class="nav-link" *ngIf="!auth.isLoggedIn()" routerLink="/register">Register</a>
      </li>
      <li class="nav-item" routerLinkActive="active" >
        <!-- auth.getUserDetails()? metod vozvrashaet dann@e usera..
          '?' specialn@ operator iz JWT dlya pravilnoi obrabotki dann@x iz obekta -->
        <a class="nav-link" *ngIf="auth.isLoggedIn()" routerLink="/profile">{{ auth.getUserDetails()?.name }}</a>
      </li>
    </ul>
  </div>
</nav>
